@import "../../../data/styles.css";

.works {
	margin-bottom: 60px;
}

.works-body {
	margin-bottom: 10px;
}

.work-container {
	display: flex;
	flex-direction: column;
	padding-bottom: 40px;

	.work-row {
		display: flex;
		width: 400px;

		.work-column {
			display: flex;
			flex-direction: column;
			margin-left: 20px;
			justify-content: end;
		}
	}

	ul {
		padding-left: 4em;

		li {
			color: var(--secondary-color);
			font-size: 15px;
		}
	}
}

.work-image {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	outline: 3px solid white;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
}

.work-title {
	font-size: 15px;
	font-weight: 700;
	margin-top: -3px;
	color: var(--secondary-color);
}

.work-subtitle {
	font-size: 15px;
	color: var(--tertiary-color);
}

.work-duration {
	font-size: 15px;
	color: var(--tertiary-color);
}
